allow system_app sensors_data_file:dir search;
allow system_app sensors_data_file:file { read write open getattr };
allow system_app persist_file:dir search;
allow system_app persist_file:file  { write read open getattr };
allow system_app sysfs_g_sensor:file rw_file_perms;
allow system_app shell_data_file:dir search;
