#
#  FILE:   init.cne.rc
#
#             Copyright (c) 2012, 2013 Qualcomm Technologies, Inc.
#             All Rights Reserved.
#             Qualcomm Technologies Confidential and Proprietary
#

#Export the following LD_PRELOAD when enabling vendor CnE.

on init
    export LD_PRELOAD libsigchain.so:libNimsWrap.so

service cnd /system/bin/cnd
    class late_start
    socket cnd stream 660 root inet

service dpmd /system/bin/dpmd
    class late_start
    socket dpmd stream 660 root system
